.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/package-lock.json

/server/config.json

/rapp_test.db

/src/components/FollowupList.vue.orig
/src/components/ToFollowupList.vue.orig
/server/index.js.orig
/src/App.vue.orig
/src/components/PatientForm.vue.orig
/src/components/PatientList.vue.orig
/src/main.js.orig

/rapp_test.sqlite

/rapp_test.db-journal
/server/requestHandler.js.orig
/src/components/InterventionForm.vue.orig
/src/components/Patient.vue.orig
/src/data/store.js.orig
/rapp_automated_testing.sqlite

/rapp_test.sqlite-journal
